.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: red !important;
}

.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
}
