@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .row {
        @apply flex flex-wrap flex-row mx-[-12px];
    }

    .col-3 {
        @apply w-[25%] px-[12px]
    }

    .col-1 {
        @apply w-[8.33%] px-[12px]
    }

    .col-2 {
        @apply w-[16.67%] px-[12px]
    }

    .col-4 {
        @apply w-[33.33%] px-[12px]
    }

    .col-6 {
        @apply w-[50%] pl-[12px] pr-[12px];
    }

    .col-5 {
        @apply w-[41.65%] pl-[12px] pr-[12px];
    }

    .col-7 {
        @apply w-[58.31%] pl-[12px] pr-[12px];
    }

    .col-8 {
        @apply w-[66.64%] pl-[12px] pr-[12px];
    }

    .col-12 {
        @apply w-[100%] px-[12px];
    }
}